%h1 Hello New
= form_for @watchlist do |f|
  .col-12
    = f.label :name
    = f.text_field :name
  .col-12
    = f.label 'Watchlists'
    = f.collection_select(:id, @current_user.watchlists, :id, :name)
  .col-12
    = f.submit
